.home[data-theme="light"]{
    --elClr :hsl(0, 0%, 100%);
    --bg:hsl(0, 0%, 98%);
    --txtClr:hsl(200, 15%, 8%);
    --inp:hsl(0, 0%, 52%);
}
.home[data-theme="dark"]{
    --elClr :hsl(209, 23%, 22%);
    --bg:hsl(207, 26%, 17%);
    --txtClr :  hsl(0, 0%, 100%);
}
.home{
    background-color: var(--bg);
    min-height: 100vh;
    overflow: hidden;
}